

.centered {
	text-align : center; 
}

#fixedMenu .item {
	font-size : 1.3rem;
}

#menuRow {
	padding-top: 0px;
	padding-bottom: 0px;
}
/*Slider deals*/
#slider {
	overflow : hidden;
	width : 730px;
	height: 300px;
}

#slider > img > #img1 {
	border : 2px solid black;
}

#image_slider {
	padding : 0px;
	position : relative;
}

#image_slider li{
	max-width : 100%;
	float : left;
	list-style: none;
}

/*slider deals end*/


/* deals */
div .deal-block {
	border : 1px dashed black;
	border-radius: 500rem;
	padding : 5px;
	text-align: center;
}

div .hidden-offer {
	opacity : 0;
	z-index : 2;
	top : 0;
	left : 0;
	right : 0;
	bottom : 0;
	height : 100%;
	position: absolute;
	border-radius : 100rem;
	background-color: rgba(256, 256, 256, 0.4);
	color : black;
}


/* deals end */

.item-catalog {
	max-height:350px;
	max-width:250px;
	border: 1px white solid;
	padding:2px;
}

.ui.inverted.segment > .ui.horizontal.divider {
  color : #ffffff;
}

.ui.medium.image {
	height: 300px;
}

.ui.image img {
	width  : 100%;
	height : 100%;
}

.ui.grid.blogs-categories {
	/*box-shadow : 0px 0px 0px 1px rgba(234, 131, 131, 1), 0px 1px 2px 0 rgba(0, 0, 0, 0.05) !important;*/
	border : 1px dashed grey;
	
}

#categories-blogs {
	padding-left : 4%;
	padding-right : 4%;
	padding-bottom: 25px;
}

div .four.wide.column.division-label {
	border-right : 1px black solid;
}
div .text-on-label {
  width: 87%;
  font-size: 2rem;
  position: absolute;
  background-color: rgba(255,255,255,0.5);
  color: rgba(0, 0, 0, 0.7);
  top: 34%;
  left: 6%;
}

.ui.inverted.segment > .ui.horizontal.divider > .ui.header {
  color : #ffffff;
}
.item-catalog img {
	max-width:200px;
	max-height:200px;
}

.collection-portrait {
	display:inline-block;
	padding-left:0px;
	max-width:250px;
	max-height:250px;
}

.collection-portrait img{
	display: block;
	max-width:100%;
	max-height:100%;
}

div .text-in-block {
	display:block;
	background-color: rgba(113, 255, 0, 0.3);
	font-size: 2em;
}

.blogs {
	border : 1px white block;
}

.nav-footer {
	list-style-type: none;
	display: inline-block;
}
.nav-footer li {
	display : inline-block;
	border: 1px black solid;
	padding:2px;
}

.social {
	height: 82px;
}

div .gap-grid {
	padding : 46px;
}